<h3><i class="fas fa-book-reader"></i> Recipes</h3>
<!-- section is a Materialize class -->
<div class="section">
    <p class="lead">Create and find your best recipes</p>
</div>
<!-- Add border -->
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>